<div class="page-header">
  <h3>Viewing Friendship</h3>
</div>

<div class="row">
  <div class="avatar span2">
    
	<%= avatar_profile_link @user_friendship.user, {}, class: 'pull-left' %>
	<% image_tag @user_friendship.user.gravatar_url %><br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= @user_friendship.user.first_name %>
  </div>
  <div class="avatar span2">
    <% image_tag @user_friendship.friend.gravatar_url %>
	<%= avatar_profile_link @user_friendship.friend, {}, class: 'pull-left' %><br/>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <%= @user_friendship.friend.first_name %>
  </div>
</div>
<hr />

<h3>Current State of Friendship is :<%= @user_friendship.state %></h3>

<div class="form-actions">
  <% if @user_friendship.requested? %>
    <%= form_for @user_friendship, url: accept_user_friendship_path(@user_friendship), method: :put do |form| %>
      <%= submit_tag "Accept Friendship", class: 'btn btn-primary' %>
    <% end %>
  <% end %>

  <%= form_for @user_friendship, url: block_user_friendship_path(@user_friendship), method: :put do |form| %>
    <%= submit_tag "Block Friendship", class: 'btn' %>
  <% end %>

  <%= form_for @user_friendship, url: user_friendship_path(@user_friendship), method: :delete do |form| %>
      <%= submit_tag "Delete Friendship", class: 'btn btn-danger' %>
  <% end %>
</div>
<%= link_to "Back to Friend List", user_friendships_path , class: 'btn btn-info btn-small'%>