<%= simple_form_for(@status,html:{class:"form-horizontal"}) do |f| %>

  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
 <% f.input :user_id, collection: User.all, label_method: :full_name %>
  <% f.input_field  :content , :input_html => {:maxlength => 15, :size => 10}%>
  <%= f.input_field :content, as: :text, class: "my-custom-class", rows: 5 %>
  <div style=" margin: 10px 0px 10px 0px; padding: 0px;">
  <%= image_tag 'document_edit.png',width: '35px' %>
    <%= f.button :submit, class: "btn btn-success" , data: { disable_with: "<i class='glyphicon glyphicon-edit'></i> Loading..." } %><i class="icon-gift"></i>
  </div>
<% end %>
