<h1>Listing statuses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content1</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @statuses.each do |status| %>
  <tr>
    <td><%= status.name %></td>
    <td><%= status.content %></td>
    <td><%= link_to 'Show', status %></td>
    <td><%= link_to 'Edit', edit_status_path(status) %></td>
    <td><% link_to 'Delete', status, confirm: 'Are you sure?', method: :destroy %></td>
	<td><%= link_to 'Destroy', status, method: :destroy, data:  {confirm: 'Are you sure?'} %></td>
	 <td><% link_to 'Destroy1',  { action: :destroy, id: status.id }, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	 
	<td><%= button_to "delete", status, :method => "delete" , data:  {confirm: 'Are you sure?'}%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Status', new_status_path %>
