<aside>
									 
						<%= image_tag "y.jpg",class: "img-circle profile-image" ,width:"100px",height:"100px"%>
						  <div class="profile-content">
							<h4>Yash Katiyar</h4>
							<p>Student. @ACROPOLIS</p>
							<a class="twitter-follow-button"
							  href="https://twitter.com/yashkatiyar"
							  data-show-count="true"
							  data-lang="en">
							  Follow @yashkatiyar
							</a>
						  </div>
						  <div class="social-icons">
							<p>Share this page:</p>
							
							 <%= image_tag "twitter.png" %>
							  <%= image_tag "facebook.png" %>
							  <%= image_tag "linkedin.png" %>
							 <%= image_tag "googleplus.png" %>
							<%= image_tag "pinterest.png" %>
							  <%= image_tag "email.png" %></li>
							
						  </div>
					
					</aside>